<?xml version="1.0"?>
<model>
  <name>Production Line zones</name>
  <version>1.0</version>
  <sdf version='1.6'>production_zones_static.sdf</sdf>

  <author>
   <name>Martin Hubert</name>
   <email>martin.hubert@viacesi.fr</email>
  </author>

  <description>
    Zones for test environement (Bot Factory project)
  </description>
</model>
